<!DOCTYPE html>
<html ng-app="progressButtonDemo">
<head>
	<title>Buttons with built-in progress meters</title>
	<link href="../src/progress-button.css" type="text/css" rel="stylesheet" />
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div ng-controller="ProgressButtonsCtrl">
		<h1>Progress Buttons</h1>

		<progress-button ng-click="simulateProgress(0, 2)" value="buttons[0].value">Submit</progress-button>
		<progress-button ng-click="simulateProgress(1, 3)" value="buttons[1].value" class="green" in-progress="Working…" complete="Finished!" type="bottom-bar">Action!</progress-button>
		<progress-button ng-click="simulateProgress(2, 2.5)" value="buttons[2].value" class="red" in-progress="Generating…" complete="Download" type="vertical">Generate</progress-button>
	</div>

	<div ng-controller="ProgressControlCtrl">
		<h1>Progress Control</h1>

		<a id="ngControlButton" progress-button="controlButton" ng-click="progressStart()">Start</a>

		<div class="control-area">
			<a class="command increment" ng-click="increment()">Increment</a>
			<a class="command set-to-1" ng-click="setTo(0.01)">Set to 1%</a>
			<a class="command set-to-50" ng-click="setTo(0.5)">Set to 50%</a>
			<a class="command finish" ng-click="finish()">Finish</a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="../src/progress-button.js"></script>
	<script src="script.js"></script>
</body>
</html>
