<!DOCTYPE html>
<html ng-app="progressButtonDemo">
<head>
	<title>Buttons with built-in progress meters</title>
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div ng-controller="ProgressButtonsCtrl">
		<h1>Progress Buttons</h1>

		<a progress-button ng-click="progressTimed(2)">Submit</a>
		<a progress-button ng-click="progressTimed(2)" class="green" loading-text="Working.." finished-text="Finished!" progress-type="background-bar">Action!</a>
		<a progress-button ng-click="generate(this)" class="red" loading-text="Generating.." finished-text="Download" progress-type="background-vertical">Generate</a>
	</div>

	<div ng-controller="ProgressControlCtrl">
		<h1>Progress Control</h1>

		<a id="ngControlButton" progress-button="controlButton" ng-click="progressStart()">Start</a>

		<div class="control-area">
			<a class="command increment" ng-click="increment()">Increment</a>
			<a class="command set-to-1" ng-click="setTo(0.01)">Set to 1%</a>
			<a class="command set-to-50" ng-click="setTo(0.5)">Set to 50%</a>
			<a class="command finish" ng-click="finish()">Finish</a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="script.js"></script>
</body>
</html>
