body {
	font: 15px sans-serif;
	color: #5e5b64;
	text-align: center;
}

h1 {
	font-size: 36px;
	color: #5e5b64;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 40px;
	position: relative;
}

div.control-area {
	font: bold 14px sans-serif;
	margin: 40px auto 0;
	background-color: #f3f3f3;
	padding: 20px;
	border-radius: 5px;
	width: 400px;
	color: #888;
}

div.control-area a {
	display: inline-block;
	cursor: pointer;
	margin: 7px auto;
	background-color: #fdfdfd;
	border-radius: 2px;
	padding: 8px 10px;
	font-size: 13px;
	text-transform: uppercase;
}

div.control-area a:hover {
	background-color: #fff;
	box-shadow: 0 1px 1px #dfdfdf;
}

.progress-button {
	display: inline-block;
	font-size: 24px;
	color: #fff !important;
	text-decoration: none !important;
	padding: 14px 60px;
	line-height: 1;
	overflow: hidden;
	position: relative;

	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;

	background-color: #51b7e6;
	background-image: -webkit-linear-gradient(top, #51b7e6, #4dafdd);
	background-image: -moz-linear-gradient(top, #51b7e6, #4dafdd);
	background-image: linear-gradient(top, #51b7e6, #4dafdd);
}

/* Hide the original text of the button. Then the loading or finished
   text will be shown in the :after element above it. */

.progress-button.in-progress,
.progress-button.finished {
	color: transparent !important;
}

.progress-button.in-progress:after,
.progress-button.finished:after {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	padding-top: inherit;
	color: #fff !important;
	left: 0;
}

/* If the .in-progress class is set on the button, show the
   contents of the data-loading attribute on the butotn */

.progress-button.in-progress:after {
	content: attr(data-loading);
}

/* The same goes for the .finished class */

.progress-button.finished:after {
	content: attr(data-finished);
}

/* The colorful bar that grows depending on the progress */

.progress-button .tz-bar {
	background-color: #e667c0;
	height: 3px;
	bottom: 0;
	left: 0;
	width: 0;
	position: absolute;
	z-index: 1;

	border-radius: 0 0 2px 2px;

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

/* The bar can be either horizontal, or vertical */

.progress-button .tz-bar.background-horizontal {
	height: 100%;
	border-radius: 2px;
}

.progress-button .tz-bar.background-vertical {
	height: 0;
	top: 0;
	width: 100%;
	border-radius: 2px;
}
